*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gallery-hightlight{
    width: 80%;
    height: 50%;
}

section{
    display:flex;
    height: 100vh;
    background: #ededed;
    font-family: "Robotto", sans-serif;
}

.room-gallery{
    width: 50%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.room-description{
    width: 50%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: #e2d2c0;
}

.room-description h1{
    padding: 10px;
    font-size: 40px;
}

.room-description p{
    font-size: 2opx;
}

.gallery-hightlight{
    width: 80%;
    height: 50%;
}

.room-preview{
    display:flex;
    width: 80%;
    border: 2px solid #e2d2c0;
}

.room-preview img{
    height:125px;
    flex-grow: 1;
    opacity: 0.6;
    cursor:pointer;
}

img.room-active{
    opacity: 1;
}